<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>T6 suscripciones</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4 ">
      <div class="collapse navbar-collapse hover-dropdown" id="header3"></div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="navbar-brand" href="#">T6 suscripciones</a>
       </ul>
      <ul style='text-indent: 30px;' class="navbar-nav"></ul>
      <a class="nav-link" href="/revistas">Revistas</a>
      <a class="nav-link" href="/contactos">Contactos</a>
      <a class="nav-link" href="/profile">Profile</a>
      </ul> 
    
      </div>
    </nav>
        


    